* {
    box-sizing: border-box;
    opacity: 1;
  }

  
  body {
    font-family: Arial;
    padding: 20px;
    /*background-image: url(ZERO.jpg);
    background-color: rgb(142, 210, 233);*/

  }
  
  /* Header/Blog Title */
  .header {
    padding: 5px;
    font-size: 25px;
    text-align: center;
    background: whitesmoke;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: right;
    width: 100%;
  }
  
  .images {
    padding: 10px;
    width:  40rem;
    border-radius: 8px;
  }
  
  /* Add a card effect for articles */
  .article {
    background-color:whitesmoke ;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 0px;
    text-align: center;
    background: whitesmoke;
    margin-top: 0px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}  